/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }
  
  .logo-container {
    text-align: center;
    padding: 20px 0;
  }

  .menu-pt {
    display: none;
  }
  
  .logo {
    width: 150px;
  }
  
  .toggle-buttons {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    position: fixed;
    right: 0;
  }
  
  .toggle-buttons button {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }
  
  .toggle-buttons button:hover {
    background-color: #f0f0f0;
  }
  
  .menu-container {
    padding: 20px;
  }
  
  .menu-item {
    margin-bottom: 20px;
  }
  
  .menu-item h3 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .menu-item p {
    margin: 5px 0 0 0;
    font-size: 1em;
  }
  